:root{
  --MAIN_COLOR:#ffeaac;
}
html {
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),  url("back.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;  
  scrollbar-base-color: var(--MAIN_COLOR);
  scrollbar-3dlight-color: rgba(0, 0, 0, .5);
  scrollbar-highlight-color: rgba(0, 0, 0, .5);
  scrollbar-track-color: rgba(0, 0, 0, .5);
  scrollbar-arrow-color: var(--MAIN_COLOR);
  scrollbar-shadow-color: var(--MAIN_COLOR);
  scrollbar-dark-shadow-color: var(--MAIN_COLOR);
}
/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--MAIN_COLOR);
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, .9);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--MAIN_COLOR) rgba(0, 0, 0, .9);
}
.center-element {
  text-align: center; 
  position: relative; 
  left: 50%; 
  transform: translateX(-50%); 
}

.frame {
  padding:10%;
}
.data {
  background-color: rgba(0, 0, 0, .5); 
  height: 240px;
}

.panell {
  display: flex;
  height: 45px;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  width: 100vw;
  height: 45px;
  background-color: #17160c;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  z-index: 3;
  align-items: center;
  font-size: 21px;
}

.logo {
  font-size: 27px;
  color: #1b1b32;
  white-space: nowrap;
  height: 36px;
  background-color: var(--MAIN_COLOR);
  padding: 0 10px 0 10px;
  text-align: center;
}
.spacer_logo{
	margin: auto;
}
.point {
  color: var(--MAIN_COLOR);
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  margin-right: 10px;
}

.pointLAST {
  margin-right: 10px;
}

.point:hover {
  background-color: var(--MAIN_COLOR);
  color: #1b1b32;
  cursor: pointer;
}


li > a {
  color: inherit;
  text-decoration: none;
}

.video1, .email1, .button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 10px;
}

.YAY{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: none;
  padding: 10px;
  color: var(--MAIN_COLOR);
}
.main-section{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding-top: 60px;
  padding-bottom: 15px;
  color: var(--MAIN_COLOR);
}
#email{
  border-style: 1px;
  padding: 10px;
  color: var(--MAIN_COLOR);
  padding: 10px;
}
#submit {
	padding: 10px 0 10px 0;
}

#submit:hover {
	cursor: pointer;
	background-color: var(--MAIN_COLOR);
    color: #1b1b32;
    cursor: pointer;
}
.text{
  color: var(--MAIN_COLOR);
  padding: 5%;
  font-size: 20px;
  text-align: justify;
  background-color: rgba(0, 0, 0, .5); 
}
.info{
  color: var(--MAIN_COLOR);
  padding-down: 10%;
  font-size: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .5); 
}
legend{
  text-align: center;
  margin:0 auto;
}
fieldset{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
  color: var(--MAIN_COLOR);
  border-color: var(--MAIN_COLOR);
  font-size: 23px;
  padding: 3px 6px;
  text-align: center;
  background-color: rgba(0, 0, 0, .65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 10px;
}
.spase{
  height: 30px;
}
.title {
	background-color: var(--MAIN_COLOR);
	color: #1b1b32;
	max-width: 150px;
	margin: auto;
	padding: 0 20px 0 20px;
	text-align: center;
}
.ticket1{
  position: relative;
  height: 60vh;
  width: 30%;
  background-color: var(--MAIN_COLOR);
  margin: 10px;
}
.ticket2{
  position: relative;
  height: 60vh;
  width: 30%;
background-color: var(--MAIN_COLOR);
margin: 10px;
}
.ticket3{
  position: relative;
  height: 60vh;
  width: 30%;
background-color: var(--MAIN_COLOR);
margin: 10px;
}
input, textarea {
  background-color: black;
  border: 1px solid var(--MAIN_COLOR);
  color: var(--MAIN_COLOR);
  text-align: center;
  width: 300px;
}
input[type="submit"] {
  display: block;
  width: 100px;
  font-size: 1.1rem;
  background-color: black;
  border-color: var(--MAIN_COLOR);
}
::placeholder { 
  color: var(--MAIN_COLOR);
}
@media (max-width: 600px) {
.body {
  margin: 0;
  padding: 0;
}
:root{
  --MAIN_COLOR:#3da93d;
}
.info{
  padding-left: 30px;
  padding-right: 30px;
}

.spacer_logo{
	margin: 0;
}

.logo {
  display: none;
}

.point {
  color: var(--MAIN_COLOR);
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  margin-right: 10px;
}

.pointLAST {
  margin-right: auto;
  margin-left: auto;
}

.ticket1{
  height: 50vh;
  width: 80%;
}
.ticket2{
  height: 50vh;
  width: 80%;
}
.ticket3{
  height: 50vh;
  width: 80%;
}
}